﻿@model SM.UI.Web.Models.BasketModel

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>

<p>
    @Html.ActionLink("See more itens", "Index", "Default", null, null)
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdBasket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </th>*@

        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>

        <th></th>
    </tr>

@if (Model.BasketItens != null)
{
foreach (var item in Model.BasketItens)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemPrice)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}
}
    <tr>
        <td></td>
        <td></td>
        <td>@Model.Total.ToString("C")</td>
        <td></td>
    </tr>

</table>
<p>
    @Html.ActionLink("Checkout", "Index", "Checkout", null, null)
</p>