﻿@model SM.UI.Web.Models.BasketModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<table class="table">
    <tr>

        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>

        <th></th>
    </tr>

    @if (Model.BasketItens != null)
    {
        foreach (var item in Model.BasketItens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    
                </td>
            </tr>
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td>@Model.Total.ToString("C")</td>
        <td></td>
    </tr>
@using (Html.BeginForm("Checkout", "Checkout"))
{
    <tr>
        <td></td>
        <td colspan="2">

            <div class="form-group">
                @Html.Label("Paymenty Method", new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("PaymentId", (IEnumerable<SelectListItem>)ViewBag.PayMethod, new { id = "ddlpayment", @class = "form-control" })
                </div>
            </div>

        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td><input type="submit" value="Checkout and Pay" class="btn btn-default" /></td>
    </tr>
}
</table>
