﻿@model IEnumerable<SM.UI.Web.Models.ProductModel>

@{
    ViewBag.Title = "SM - Shopping";
}

<h2>Product List</h2>

<table class="table">
    <tr>
        <td>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-5">
            @Html.DropDownList("IdCategory", (IEnumerable<SelectListItem>)ViewBag.ListaCategorias, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
        <div class="col-md-5"></div>
    </div>
}

        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
       
        <td>
            @Html.ActionLink("Add to Basket", "Add", "basket", new { id=item.ID }, null)
        </td>
    </tr>
}

</table>
